.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    min-height: 225px;
    color: darkgrey;
    
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container a {
    text-decoration: underline;
    
}
a.card-wrapper {
    text-decoration: none;
}
.content-wrapper {
	width: 1050px;
	margin: 0 auto;
}
 